.card {
    border: none;
}

.blogImg{
    width: 100%;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.blogImg:hover {
    transform: scale(1.1);
}

.blogDate {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 112, 3);
    font-size: 15px;
    margin-bottom: 0;
}

.blogTitle {
    font-family:"Reddit Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #222831;

}

.blogBtn .nav-item {
    display: flex;
    justify-content: center;
}

