.userBtn{
    color: #fff;
    background: #FF7426;
    font-size: 14px;
    font-family: "Reddit Sans", sans-serif;
    font-weight: 600;
}

.userBtn:hover {
    border: 1px solid#FF7426;
    color:#FF7426
}